body {
    margin: 0;
    padding: 0;
    background-color: #1a3861;
}

header {
    display: flex;
    background: #0a192f;
    justify-content: space-between;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    color: white;
    text-align: center;
}